<!DOCTYPE html>
<html>

<head>
  <title>Stopwatch - by Martin Zazpe</title>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
  <script defer src="../javascripts/index.js"></script>
</head>



<body>

  <div id="stopwatch-container">

    <h1>Stopwatch</h1>

    <p>A simple <span>stopwatch</span></p>

    <div id="timer-container">
      <span id="minutes">00</span> :
      <span id="seconds">00</span> :
      <span id="miliseconds">00</span>
    </div>

    <div id="buttons-container">
      <button id="start-btn">Start</button>
      <button id="stop-btn">Stop</button>
      <button id="reset-btn">Reset</button>
    </div>
  </div>



  <div id="times-board">

    <h4 class="text">Your times</h4>

    <span class="last-time"></span>

  </div>


  <footer>
    <p>© Made by <span>Martin Zazpe</span> </p>
  </footer>

</body>




</html>