* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: Flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

/* p {
  margin-top: 0;
} */

p span {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

#stopwatch-container {
  border-radius: 5px;
  background-color: aqua;
  height: 400px;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#timer-container {
  padding-top: 50px;
}

#timer-container {
  font-size: 35px !important;
}

#buttons-container {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#buttons-container button {
  flex-basis: 30%;
  /* flex-shrink: 3; */
}

/* #buttons-container button:nth-child(3) {
  flex-basis: 100%;
} */

/* #buttons-container>* {
  margin: 0px 5px;
} */

#buttons-container button {
  background-color: transparent;
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid grey;
  color: none;
  transition: box-shadow 0.2s ease-in-out
}

#buttons-container button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(191, 177, 177, 0.5);
}


#times-board {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

#times-board .text {
  text-decoration: underline;
}


footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(75, 218, 225);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
  text-align: center;
}

footer p span {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

footer p span:hover {
  cursor: pointer;
  color: grey;
}

@media (min-width: 600px) {

  #stopwatch-container {
    width: 400px;
  }
}